[2021-02-13 16:33] ranjal007 opened #1 "Image of Developers not displaying in Contact Section."
![image](https://user-images.githubusercontent.com/55893326/107855278-4c7e2180-6e47-11eb-9561-dbec5aacd86a.png)

[2021-02-17 06:32] aniketlodh commented on #1
Hi,
I would like to work on this issue. Can I get the original long image URLs of the images?

[2021-02-17 16:34] supzi-del commented on #1
Hey, the img src links might be wrong, please share correct source.

[2021-02-22 15:00] sukhpreet-singh1 commented on #1
@ranjal007 can you please assign me this issue?

[2021-02-23 12:57] AMAN123956 commented on #1
It will be shared once the gssoc event starts

[2021-02-23 12:58] sukhpreet-singh1 commented on #1
ok i will wait

[2021-02-25 19:27] AMAN123956 opened #2 "New UI design for blog preview needed with proper typography"

[2021-02-26 17:21] iamkrati22 commented on #2
Hey, I would like to work on this issue as a part of gssoc'21. Can you assign it to me?

[2021-02-26 19:30] AMAN123956 commented on #2
Wait for gssoc event to start I will share more details with you about how you can work on this issue

[2021-02-27 19:42] satcasm opened #3 "Image link broken in readme.md"
Hi, the image link in the readme.md seems to be broken. It's source is defined as `<img src="1.png" style="margin-top:30px;" alt="image">` but I couldn't find any ``1.png`` file in the images folder.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/56315878/109398290-fee2d800-7961-11eb-8d79-734d8129ef54.png)

[2021-02-27 19:58] satcasm opened #4 "Image links broken in blogs"
2 blogs in page https://jssconnect-beta.herokuapp.com/blogs have broken image link.

Screenshot for reference:
![image](https://user-images.githubusercontent.com/56315878/109398654-2e92df80-7964-11eb-9147-ec43a261b749.png)

[2021-02-28 04:03] AMAN123956 commented on #3
Yeh you can do so by taking screenshot of home page of our website and uploading it with name 1.png

[2021-02-28 04:06] AMAN123956 commented on #4
We are using unaplash api for images so when no images come from API then it shows in above ways if you can fix this issue then u can try.

[2021-02-28 04:11] AMAN123956 opened #5 "Responsiveness of landing page for small screen"

[2021-02-28 13:17] satcasm commented on #3
Should I wait till 8th march ? As on that day GSSOC' 21 coding period starts or should I start now?
Thanks.

[2021-02-28 13:18] AMAN123956 commented on #3
Wait for the task to be assigned by mentors of gssoc

On Sun, 28 Feb, 2021, 6:47 PM Satyam Singh, <notifications@github.com>
wrote:

[2021-02-28 17:43] #1 closed

[2021-02-28 17:43] AMAN123956 commented on #1
It has been resolved in our updated version

[2021-02-28 20:05] akashbwj commented on #5
I want to work on this issue as a part of GSSOC'21

[2021-03-01 04:11] AMAN123956 commented on #5
@akashbwj  Wait for the gsssoc event to start

[2021-03-01 05:29] satcasm commented on #3
@AMAN123956 , I was wondering if I can start the work and you merge my PR after 8th?

[2021-03-01 06:56] sanjeev-kumar-nsut commented on #3
hello guys,
i also want to contribute here,
lets make a group/team in which we can learn from each other
interested people can mail me to : sulodha2002@gmail.com

[2021-03-01 10:16] sanjeev-kumar-nsut commented on #3
Hello guys,
There is an  syntax error in this code ( in views/header.ejs)
PLZ reply or contact me if you can correct as this error is in many places in this project
[
[error.docx](https://github.com/threefreespirited/Jssconnect/files/6060764/error.docx)
](url)

[2021-03-01 13:23] Ankita297 commented on #5
I want to work on this under GSSOC '21 . Please assign it to me.

[2021-03-02 13:50] vkassingh commented on #4
Do we have a discord server for jssconnect ?

[2021-03-02 15:43] heysujal commented on #3
wait till 8th March

[2021-03-02 15:44] heysujal commented on #4
No , we don't have one at this time.

[2021-03-02 15:45] heysujal commented on #5
@Ankita297  Wait for the event to start

[2021-03-03 03:24] vkassingh commented on #4
can the admins please create one. I think that would be helpful for further discussions/ brainstorming etc

[2021-03-03 03:37] AMAN123956 commented on #4
Link for Discord Server of JSSCONNECT
https://discord.gg/72VBTkPGfn

[2021-03-04 17:56] arnabsen1729 opened #6 "Callback URL uses localhost"
https://github.com/threefreespirited/Jssconnect/blob/2b90813a4fcbeaaefa4e94bb3a3338145da3b13f/app.js#L82

The URL mentioned here should be using the deployed url not `localhost:3000`

[2021-03-06 05:01] AMAN123956 commented on #6
@arnabsen1729  we are in the production stage that's why we haven't changed URL moreover u must read our readme before contribution as we have mentioned to not use sign in our sign up during development as no need to use it

[2021-03-06 06:27] arnabsen1729 commented on #6
Thanks, @AMAN123956 for the clarification. I think you meant **development** stage.

As a viewer, the first thing I would do is to hop into the site that is linked and test out the features. So, I assumed it was a small typo and hence mentioned it in the issue. Also, I would advise to mention this thing not in the last line (it is literally the last line of README) rather somewhere at the top, in

[2021-03-06 06:27] #6 closed

[2021-03-07 07:09] AMAN123956 commented on #6
Yeh I meant development and thanks for the suggestions will surely consider your points next time. Looking forward to adding new and innovative things to JSSConnect with you.

[2021-03-07 18:30] akashbwj commented on #5
I want to work on this issue as a part of GSSOC'21

[2021-03-08 09:11] Sloth-Panda opened #7 "code of conduct"
would like to add code of conduct file as part of gssoc'21

[2021-03-08 09:12] Sloth-Panda opened #8 "welcome bot"
This bot welcomes and greets someone who opens an issue or makes a pr first time in this repo

[2021-03-08 09:12] Sloth-Panda opened #9 "issue and pr templates"
would like to add them as part of gssoc'21

[2021-03-08 14:10] satcasm commented on #3
Closing the issue as it is fixed.

[2021-03-08 14:10] #3 closed

[2021-03-08 14:12] satcasm commented on #4
Closing the issue as it is fixed.

[2021-03-08 14:12] #4 closed

[2021-03-08 14:33] sanjeev-kumar-nsut commented on #2
Hello sir,
I am interested in working on this issue,
can you decsribe it in more details as you told earlier

[2021-03-08 17:43] subhadeepCh opened #10 "Refactor APP.js"
The app.js needs to be refactored for proper scaling of the application
Please assign me this task -- GSSOC'21

[2021-03-08 17:48] subhadeepCh opened #11 "fav-icon missing"
Please assign this task to me

[2021-03-08 18:20] subhadeepCh commented on #10
@harshit9270 Please assign me this task

[2021-03-09 02:14] Rimpi246 opened #12 "New user authentication not working."
New user registration is not working.Would like to work on this as a part of GSSOC'21

[2021-03-09 02:30] sanjeev-kumar-nsut commented on #12
it will not work at this  stage also, they are not giving user data for privacy

[2021-03-09 02:49] AMAN123956 commented on #11
@subhadeepCh  favicon has not been  yet made by our team they are working on favicon so currently I am closing this issue

[2021-03-09 02:49] #11 closed

[2021-03-09 02:50] AMAN123956 commented on #10
@subhadeepCh  U can work on this issue

[2021-03-09 02:51] AMAN123956 commented on #8
@Sloth-Panda make a pr so that we can see that

[2021-03-09 02:51] AMAN123956 commented on #7
No it will be added by our team work on some other issues

[2021-03-09 02:51] #7 closed

[2021-03-09 02:53] AMAN123956 commented on #2
@iamkrati22  and @sanjeev-kumar-nsut  u both can work on this issue once done our team will see whose stuff seems good

[2021-03-09 02:54] AMAN123956 commented on #2
Keep a note that we want a like and comment button at the end of blog so design the page keeping this thing in mind

[2021-03-09 02:55] AMAN123956 commented on #5
@akashbwj  u can work on this issue

[2021-03-09 02:56] AMAN123956 commented on #12
@Rimpi246  it will not work as due to privacy and keeping our users data secure we hav

[2021-03-09 02:58] AMAN123956 commented on #12
@Rimpi246 d u have created ur app in Google search console as no such issue is coming otherwise share the screenshot of the issue untill then I am closing this issue

[2021-03-09 02:58] #12 closed

[2021-03-09 04:53] sanjeev-kumar-nsut commented on #2
ok sir

[2021-03-09 05:14] srk224 commented on #2
Hey . I would like to work on this . I have some experience with UI/UX design.
Can you please share some more details

[2021-03-09 07:16] Sloth-Panda commented on #8
@AMAN123956 can you  please add gssoc'21 tag to this issue?

[2021-03-09 07:17] Sloth-Panda commented on #8
https://github.com/apps/welcome

download this bot from here for it to work on your repo and I have made the required additions

[2021-03-09 08:49] subhadeepCh commented on #10
@AMAN123956 Thanks for assigning this issue to me

[2021-03-09 09:16] padmajabhol opened #14 "Add a favicon."
I want to add a favicon to this website that could match its logo.

[2021-03-09 09:16] padmajabhol opened #15 "Add sticky navbar."
The existing navbar disappears as we scroll down, I want to fix it.

[2021-03-09 10:18] subhadeepCh commented on #10
@AMAN123956 @harshit9270 Hey ,can you please add **Gssoc tag** to this issue

[2021-03-09 10:21] subhadeepCh opened #16 "Unhandled error for empty database"
<img width="589" alt="33" src="https://user-images.githubusercontent.com/63468060/110455937-00916600-80ef-11eb-9d98-2c934acb5c7d.PNG">
Since the database is initially empty, therefore this error pops up, just need to handle this error,
@harshit9270 @AMAN123956 Please add **GSSOC tag** to this issue if you find this relevant, so that i can create a pr

[2021-03-09 11:20] srk224 commented on #15
Hey
I would like to work on this issue. Can you please assign it to me under gssoc'21?
I have experience in web-dev and I will be able to do it.

[2021-03-09 11:51] srisatya12 commented on #16
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:23] subhadeepCh commented on #16
@srisatya1197 Thankyou for showing interest , but i have already started working on this issue,
@harshit9270  Please add **GSSOC tag** so that pr can be made

[2021-03-09 13:58] srisatya12 commented on #16
@subhadeepCh  ok

[2021-03-09 14:13] Kritikaagra commented on #15
Hey...
I would like to fix this issue under GGSOC'21 ...plz assign this to me... Thank you

[2021-03-09 14:22] Kritikaagra opened #17 "Add animation #GGSOC'21"
Hey...
I am a GGSOC'21 participant and want to add animation to your repo for make a better experience for users.

Plz assign this to me

[2021-03-09 14:29] padmajabhol commented on #15
Guys, I m not the project admin.

[2021-03-09 14:36] Vishal1003 opened #18 "Restructuring Views"
I can see that the views folder contains duplicate html files which is already being rendered as ejs files. So it is better to move them in public folder/or a separate sub folder (static) to avoid confusions.  Further it is better to add a few dev dependencies (like nodemon etc.) for better development env.
Can I work on this? (as a part of GSSOC'21).
@AMAN123956

[2021-03-09 15:01] Vishal1003 opened #19 "Loading CSS files properly"
@harshit9270 @heysujal  @AMAN123956  CSS files are not working on register page (probably they are broken). I'm attaching the image for reference. Kindly assign me the task to link these properly. (as a part of GSSOC'21).

![image](https://user-images.githubusercontent.com/44357051/110490465-59282980-8116-11eb-8596-5711327a686d.png)

[2021-03-09 15:50] AMAN123956 commented on #17
@Kritikaagra  u can work on this issue deadline 12 March

[2021-03-09 15:56] AMAN123956 commented on #2
@srk224  u can also work on this issue as it is a designing issue so we are assigning it to multiple persons at a time deadline to submit your work is 12 march

[2021-03-09 16:10] bhubesh757 opened #20 "fix auth SignUp Error!!"

[2021-03-09 16:49] Kritikaagra commented on #17
@AMAN123956  Thqq so much...plz add GGSOC'21 label too

[2021-03-09 19:39] heysujal commented on #20
Provide details of issue in brief. You can attach screenshots and videos to demonstrate where the issue is actually.

[2021-03-09 19:39] Sloth-Panda commented on #9
@heysujal @AMAN123956  can I work on this?

[2021-03-09 19:45] heysujal commented on #14
@padmajabhol  Go Ahead

[2021-03-09 19:54] heysujal commented on #15
Please provide details of the issue .Where does it disappear ? On which page?
Attach screenshots or video to illustrate the same.

[2021-03-09 20:35] Vishal1003 commented on #18
@heysujal can you assign this to me so that I can work on it.? (if possible add a gssoc label)

[2021-03-10 02:03] bhubesh757 commented on #20
https://user-images.githubusercontent.com/55022929/110564451-dc776880-8172-11eb-9dc3-cb34c5063c02.mp4

[2021-03-10 02:34] bhubesh757 commented on #20
Its not invalid , its valid it redirects to localhost page , authentication error

[2021-03-10 03:29] Naman-12911 commented on #2
Hello sir , I want solve this issue please assign me this issue under GSSOC

[2021-03-10 03:31] harshit9270 commented on #20
@bhubesh757 Since this project is under development mode, we have adjusted the redirect URL for authentication to localhost for working on local devices.
Once this event gets over, we'll change the URL.

[2021-03-10 03:31] #20 closed

[2021-03-10 03:43] harshit9270 commented on #19
removed the register option as google automatically adjusts to login/signup according to database.
Register page is no more required. You must look upto other issues.

[2021-03-10 03:43] #19 closed

[2021-03-10 03:51] harshit9270 commented on #18
Hey  @Vishal1003
Remove the duplicate html files instead of moving them.
Also nodemon is already a dependency for development.

[2021-03-10 03:54] harshit9270 commented on #9
@Sloth-Panda
I don't really understand what you want to state. Will you please explain?

[2021-03-10 03:56] harshit9270 commented on #5
@Ankita297 , @akashbwj
Are you guys working on this issue?

[2021-03-10 05:05] Rimpi246 opened #23 "Section for college events"
I would like to add one section for getting information about upcoming events like hackathons, ideathons, conferences,coding contests,etc.
Please `/assign` this issue  to me as a part of GSSOC'21

[2021-03-10 05:15] Rimpi246 opened #24 "Add section of ofcampus opportunities"
I would like to add a seperate section for ofcampus opportunities like internships,placements,scholarships,etc. which most students are not aware of.
Please `/assign` this issue to me as a part of GSSOC'21

[2021-03-10 05:27] Aanchal116 commented on #15
Hii ,
I would like to work on this issue as a part of GSSOC'21. I've hands-on practice in web development and also a mentorship experience. Please assign this task to me if possible.

[2021-03-10 05:28] Aanchal116 commented on #14
Hii ,
I would like to work on this issue as a part of GSSOC'21. I've hands-on practice in web development and also a mentorship experience. Please assign this task to me if possible.

[2021-03-10 05:28] Aanchal116 commented on #5
Hii ,
I would like to work on this issue as a part of GSSOC'21. I've hands-on practice in web development and also a mentorship experience. Please assign this task to me if possible.

[2021-03-10 06:09] Sloth-Panda commented on #9
@harshit9270 hey, issue template explains an issue completely, the type of issue it's checklists and all that it follows similarly pr template too states about pr with its description and the set of checklists that it follows

[2021-03-10 06:50] padmajabhol commented on #14
![Screenshot (14)](https://user-images.githubusercontent.com/75530516/110588423-017fd180-819b-11eb-90e0-97d114a85e46.png)
I cant load the live server, can you help me out as per why this is happening?

[2021-03-10 07:42] harshit9270 commented on #24
@Rimpi246
Go ahead with this and we'll later on go through with your work.

[2021-03-10 07:42] heysujal commented on #23
@Rimpi246 Go Ahead.

[2021-03-10 08:13] Sloth-Panda commented on #9
@harshit9270 @heysujal can you please add gssoc'21 and other required tags to this issue.

[2021-03-10 09:35] Sloth-Panda commented on #8
@heysujal  @AMAN123956 can you please add required level tag to the issue and pr as per gssoc guidelines

[2021-03-10 10:25] rohank2502 opened #27 "I will like to improve the our team section in readme.md"
As the 3 images are very close to one another they are not getting attracted so i will like to increase the distance between them !! I will start the working on this as soon as i get assigned !!

[2021-03-10 12:29] Sristi27 opened #28 "Like Button on Blogs not working."
The like buttons on the blog is not working!I would like to enable its functionality.
Could you assign this issue to me?

[2021-03-10 12:49] AMAN123956 commented on #28
@Sristi27 we haven't made it functioning yet we are working on the design of this page but you can work on implementing this functionality few things that u should keep in mind while working on this functionality
1.Only users that are authenticated can like the blog
2.Only one like per user should be there a user who has liked the post previously shouldn't be able to like it after that
I am assign

[2021-03-10 12:52] AMAN123956 commented on #2
@Naman-12911  u can also work on this issue deadline to submit your work is 12 march

[2021-03-10 12:58] AMAN123956 commented on #8
Already merged it so closing this issue

[2021-03-10 12:58] #8 closed

[2021-03-10 13:06] AMAN123956 commented on #15
@padmajabhol  I am assigning this task to you give me an update within 3 days otherwise I will be assigning it to some other person

[2021-03-10 13:26] AMAN123956 opened #29 "whenever a person joins community a welcome mail should be sent to that person"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-10 13:43] padmajabhol commented on #15
![IMG_20210310_120443_896.jpg](https://user-images.githubusercontent.com/75530516/110638511-aa96ee00-81d4-11eb-8589-57bb7e6b3647.jpg)
But can you please help me with this? I can't load the live server.

[2021-03-10 14:04] nandini2110 opened #30 "Redesign blog page as well as footer"
- This feature request is regarding the design of the Blog page and footer section. I think I can improvise on its design and styling
-  I would like to work on this issue as a part of gssoc'21.

<img width="936" alt="gss2" src="https://user-images.githubusercontent.com/51056716/110640992-78d35680-81d7-11eb-9e89-2cbc1da2469b.PNG">

<img width="947" alt="gssoc1" src="https://user-images.githubuserc

[2021-03-10 14:05] AMAN123956 commented on #15
After cloning the file just run nom install and then nodemon app.js

On Wed, 10 Mar, 2021, 7:13 PM Padmaja Bhol, ***@***.***>
wrote:

[2021-03-10 14:56] akashbwj commented on #5
@me-harshit Yes i am :)

[2021-03-10 15:40] Kritikaagra commented on #15
@padmajabhol r u able to load the live server...because it shows the same error to me.

[2021-03-10 15:42] AMAN123956 commented on #15
After cloning the repo run npm install command once all dependencies are
installed run node app.js

On Wed, 10 Mar, 2021, 9:10 PM Kritikaagra, ***@***.***> wrote:

[2021-03-10 15:47] Kritikaagra commented on #15
@AMAN123956  I tried that too.... but its not working, error related to .env file is shown

[2021-03-10 15:54] AMAN123956 commented on #15
Share screenshot of errors u are getting

On Wed, 10 Mar, 2021, 9:18 PM Kritikaagra, ***@***.***> wrote:

[2021-03-10 15:56] Kritikaagra commented on #15
![image](https://user-images.githubusercontent.com/78923214/110657851-3154c680-81e7-11eb-8b98-e0bd9a33565a.png)
@AMAN123956

[2021-03-10 15:58] AMAN123956 commented on #15
See our .env.example file to solve this issue

On Wed, 10 Mar, 2021, 9:26 PM Kritikaagra, ***@***.***> wrote:

[2021-03-10 15:59] AMAN123956 commented on #15
Moreover keep .env outside of views folder it seems that it is inside views
folder

On Wed, 10 Mar, 2021, 9:28 PM Aman Dixit, ***@***.***> wrote:

[2021-03-10 16:34] Kritikaagra commented on #15
![image](https://user-images.githubusercontent.com/78923214/110663419-6dd6f100-81ec-11eb-932d-db8df85753ef.png)
Now its shows serving at port 3000 but chrome is not able to load site

[2021-03-10 16:44] AMAN123956 commented on #15
Make sure ur computer is connected to internet and localhost:3000 is the
port on Google Chrome

On Wed, 10 Mar, 2021, 10:04 PM Kritikaagra, ***@***.***>
wrote:

[2021-03-10 16:49] nikhilgupta2001 commented on #17
Hey...
I am a GGSOC'21 participant and want to work on this.Plz assign this to me

[2021-03-10 17:05] DhrutikPatel commented on #14
@padmajabhol
use command **node app** instead of **npm start**
it will load live server

[2021-03-10 17:10] Kritikaagra commented on #17
@AMAN123956
I am not able to work on this... please assign this to @nikhilgupta2001
sorry for the inconvenience

[2021-03-10 18:34] padmajabhol commented on #14
![IMG_20210310_120443_896.jpg](https://user-images.githubusercontent.com/75530516/110587139-40148c80-8199-11eb-9a43-dbf17e0ead5d.jpg) I can't run the server still not working

[2021-03-10 19:38] prajjwalarora opened #31 "Logo is not consistent"
## **Describe the bug**

On the home, page the logo has an icon and the text is in the center but in other parts, the text is bottom aligned.

## **Possible solution**

This can be fixed with minor changes in the Style sheet.

**Please assign this issue to me. I want to work on this under GSSOC21.

## **Screenshots**
![Screenshot (405)](https://user-images.githubusercontent.com/57281080/110686989-

[2021-03-11 07:01] srk224 commented on #2
I Have designed a new blog page contrasting with the older theme of the website , so that it can go well with other pages and not look different.
Here is my design:-
![Web 1920 – 2](https://user-images.githubusercontent.com/63584405/110748197-630c7280-8265-11eb-9c69-37dbfb21eb6c.png)
![Web 1920 – 1](https://user-images.githubusercontent.com/63584405/110748204-64d63600-8265-11eb-8366-a3d19b71aa26.p

[2021-03-11 07:20] sanjeev-kumar-nsut commented on #2
hello @srk224,
please contact me, my WhatsApp number is 9968704350

[2021-03-11 08:00] AMAN123956 commented on #2
@srk224 looks great to me let me discuss with my team about this design and then I will be updating you about few changes that seems to me
But overall great work looks cool to me

[2021-03-11 09:03] srk224 commented on #2
Thanks a lot !! Let me know the changes after the discussion

[2021-03-11 09:04] srk224 commented on #2
@AMAN123956
Thanks alot!!
Let me know the changes after the discussion

[2021-03-11 09:14] anshulsharma123 commented on #31
I want to work on this issue

[2021-03-11 11:57] prajjwalarora commented on #31
I want to work on this issue. please assign me under GSSOC21.

[2021-03-11 12:50] AMAN123956 commented on #17
@nikhilgupta2001 do u want to work on this issue

[2021-03-11 12:51] AMAN123956 commented on #31
@prajjwalarora  u can work on this issue

[2021-03-11 12:52] AMAN123956 commented on #30
This issue is already been created refer to #2

[2021-03-11 12:52] #30 closed

[2021-03-11 13:33] sanjeev-kumar-nsut opened #32 "Restructuring whole code."
## Proposal
I want to re-structure the whole code
(A clear and concise description of what the proposal is.)

As there is a lot of code in app.js for example - mongoose models , schemas, routes  **all  in one place**
I want to work on this and make a different file for all for example,
There will be a separate location for all mongoose models,
different file for routes.
additional java script and

[2021-03-11 13:34] sanjeev-kumar-nsut commented on #32
Please assign me this under GSSOC' 21

[2021-03-11 15:30] nikhilgupta2001 commented on #17
yah i would like to work please assign it to me

[2021-03-11 15:55] #18 closed

[2021-03-11 16:40] anshulsharma123 opened #33 "hover effects are not smooth for buttons and links"
Hello admins
                    On the home page the hover effect of all buttons and links are too fast I would like to add some style effects to make them smooth please assign this work to under gssoc21
 2) The color of hover effect in navbar links is black which is not visible in dark mode so I would like to change this also

[2021-03-11 20:59] GuptaTanisha opened #34 "[GSSOC'21] joincommunity.ejs not rendered properly"
- Join community not rendered properly
-
![screenshot (6)](https://user-images.githubusercontent.com/64624412/110854153-8a515700-82da-11eb-826d-c24663aaf305.jpg)

[2021-03-11 23:17] chandramanipandey commented on #5
If this issue is still open and under Gssoc 21 label i would like to contribute to it @me-harshit

[2021-03-12 08:58] rohank2502 opened #35 "Will like to add the contribution section on readme which keeps updating !!"
I will like to add the  contribution section on readme which goes on updating automatically https://github.com/rohank2502/Learn-GITHUB I have implemented the idea on this repository on readme.md

[2021-03-12 12:56] Rimpi246 commented on #24
Okay.

[2021-03-12 12:57] Rimpi246 commented on #23
Okay

[2021-03-12 16:29] udaymittal7 opened #37 "Would like to organize the app.js file by creating separate file for models and controller."
## Proposal
app.js file is too big, so I would like to reorganize by creating different files for models of user, first year resources, second year resources. Also, I would like to create different files for controller functions of different routes.
I am a participant of GSSOC'21, so please let me know if this is a valid proposal and add the relevant tags.

[2021-03-12 17:42] abhay27chauhan opened #38 "No need to use body-parser when using express version 4.16+"
## Proposal
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

- app.use(bodyparser.json());

If you are using Express 4.16+ you can now replace that line with:

- **app.use(express.json());**

you also have the foll

[2021-03-12 17:42] abhay27chauhan commented on #38
I am a participant of GSSOC21, so please let me know if this is a valid proposal

[2021-03-12 19:27] Zeph-T opened #39 "All the Routes for this App is inside App.js which is very difficult to solve any bug in this File...Using Express Router and creating a Routes folder can help other contributors.Assign this to me under GSSOC"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-12 19:31] #39 closed

[2021-03-12 19:34] Zeph-T commented on #34
The route is not using res.render to render the ejs file...Assign this to me under GSSOC'21

[2021-03-12 20:07] DhrutikPatel commented on #14
Don't use npm start command
use **node app** command to run live server on localhost

[2021-03-13 02:02] sanjeev-kumar-nsut commented on #37
hello @udaymittal7,
it look nice that you are also working in this issue,
but i had already raised this issue 2 day ago,
see issue #32 under GSSOC' 21

[2021-03-13 02:55] harshit9270 commented on #38
You may go ahead with this

[2021-03-13 02:58] harshit9270 commented on #37
Hey @sanjeev-kumar-nsut
Have a look at issue #32 , that is almost the same.

[2021-03-13 02:58] #37 closed

[2021-03-13 03:14] AMAN123956 commented on #35
@rohank2502 go ahead

[2021-03-13 03:18] AMAN123956 commented on #33
@anshulsharma123  go ahead

[2021-03-13 03:26] harshit9270 commented on #31
Your PR is corrupting app.js , You just added 4 lines of useful code and it disturbs app.js.

[2021-03-13 03:26] #31 closed

[2021-03-13 03:27] AMAN123956 commented on #34
We are working on this issue already

[2021-03-13 03:27] #34 closed

[2021-03-13 03:40] AMAN123956 commented on #2
@srk224  make a pr so that we can see your changes

[2021-03-13 03:40] harshit9270 commented on #27
This is something we cannot assign you under gssoc. If you wish to do it is a bug, you may go ahead.

[2021-03-13 03:44] AMAN123956 commented on #5
Are u guys working on this issue

[2021-03-13 03:46] harshit9270 commented on #15
This is not a bug , the navbar reappears when you scroll down a bit more. This was intentional .

[2021-03-13 03:46] #15 closed

[2021-03-13 03:46] AMAN123956 commented on #28
@Sristi27 are u working on this issue

[2021-03-13 03:48] harshit9270 commented on #14
Hey @padmajabhol ,
Any updates or I shall assign this to anyone other.

[2021-03-13 03:49] harshit9270 commented on #10
Hey @subhadeepCh,
Any updates?

[2021-03-13 03:53] Sristi27 commented on #28
Actually,my semester examinations are going on..So I am taking some time.Hope you understand and I hope to finish with it soon!

[2021-03-13 03:54] #35 closed

[2021-03-13 04:02] harshit9270 commented on #32
Go ahead.

[2021-03-13 05:22] srk224 commented on #2
I havent actually made the changes in the code for this blog post as I am not that good in react ! I just designed the UI part of it on adobe xd! but if you want me to do it ! I am already learning react , I can speed up my pace and do the code changes in some days!

[2021-03-13 05:58] prajjwalarora commented on #31
@me-harshit hey there is no change in app.js. i only commented out one console.log in app.js. change was in header.ejs. Please look again.

[2021-03-13 07:28] SananditaDas commented on #24
I would like to work on this issue as a part of GSSOC'21. @me-harshit Please assign me this issue.
We can also keep the users updated with upcoming hackathons(similar to D2C). Also ask them to signup to our newsletter for regular updates.

[2021-03-13 07:32] heysujal commented on #2
@srk224  This project is not made using React. It uses javascript.

[2021-03-13 07:40] ibhavikamalhotra opened #41 "Responsive Resources Section"
## **Describe the bug**

- Resources section is not responsive.

## **Possible solution**

- Making it fully responsive for all devices.

## **Screenshots**

![bug](https://user-images.githubusercontent.com/67636581/111023132-3e4b0300-83fd-11eb-923f-27101982fd96.JPG)

- Kindly assign me this issue and add the required GSSOC'21 labels to it.

[2021-03-13 11:14] srk224 commented on #2
I am facing this error while starting the server!
![2021-03-13](https://user-images.githubusercontent.com/63584405/111028230-5af63380-841b-11eb-913d-a37c08f5df3d.png)
can anyone help me resolve it?

[2021-03-13 11:35] padmajabhol commented on #14
I ll do it within an hour.

[2021-03-13 11:38] akashbwj commented on #5
@AMAN123956 Yes sir! Due to offline classes and assignments its taking a little longer but i will try to complete it till or before monday! @me-harshit Thank You for assigning it to me! :D

[2021-03-13 12:03] Rimpi246 commented on #24
Hello @SananditaDas, I am actually working on this and hackathons issue is being raised in #23 and I am assigned that. But I think the newsletter sign up you should create it as a new issue.

[2021-03-13 15:13] anshulsharma123 commented on #33
@AMAN123956  add gssoc21 tag and assign this to me

[2021-03-13 15:32] SananditaDas opened #44 "Restructuring the Resources page"
The resources page can be made more flexible by applying **multiple filters** based on year, subject, book name, etc. to get the best possible results. Because, subject 'A' may not be taught in the 'N'th year in all colleges - so the search results cannot resort on only 1 filter.

[2021-03-13 15:34] SananditaDas commented on #44
Please assign me this issue under GSSOC'21.

[2021-03-13 20:56] udaymittal7 opened #45 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload

If you find it relevant, please assign me.

I am a GSSOC'21 participant so please add the relevant GSSOC tags too.

[2021-03-14 05:34] sanjeev-kumar-nsut commented on #32
Hello @me-harshit ,
I had created models and routes file,
now app.js file length is of 313 line (before it was of 990 lines).
I am not able to create separate public file for extra css and html file present in views file because in discord I had asked you about need of html files but no reply came from any mentor and project admin,
Also there is my different github account linked to GSSOC '21 , so

[2021-03-14 05:35] sanjeev-kumar-sky commented on #32
This is my account which was linked to GSSOC'21
please consider this

[2021-03-14 05:36] AMAN123956 commented on #32
There is no need of html files actually in previous version we were not
using ejs so there were html files and but currently u can delete thes html
files as these are of no use

On Sun, 14 Mar, 2021, 11:04 AM sanjeev-kumar-nsut, ***@***.***>
wrote:

[2021-03-14 11:30] AMAN123956 commented on #45
@udaymittal7 go ahead

[2021-03-15 01:42] sanjeev-kumar-nsut commented on #32
Please add gssoc 21 label

[2021-03-15 07:10] muthuannamalai12 opened #47 "Create Code of Conduct"
I would like to add a code of conduct file as code of conduct is a necessary file which the contributors need to follow so that everyone follows a decorum.

[2021-03-15 07:10] muthuannamalai12 commented on #47
I would love to work on this issue as a part of Girl Script Summer Of Code. Kindly assign it to me.

[2021-03-15 09:44] AlacritousCreature commented on #10
Hey @AMAN123956 @me-harshit! I would like to do this issue if it isn't done by the currently assigned one. I am a GSSOC'21 Participant.

[2021-03-15 10:35] #27 closed

[2021-03-15 12:32] ritesh1731 commented on #41
I would like to contribute to this issue under GSSOC21. Can you please assign it to me?

[2021-03-15 13:08] Ankita297 commented on #5
Can i work on this ?

[2021-03-16 02:32] #5 closed

[2021-03-16 06:40] aniketlodh commented on #10
Hello @me-harshit @AMAN123956 @heysujal, since the assigned contributor is not responding, Can you please assign the issue to me? I can work on it. I'm a GSSOC participant.

[2021-03-16 06:59] krishna-y2000 opened #50 "Adding a chatbot - gssoc'21"
## **Is your feature request related to a problem? Please describe.**

- I would like to make a chatbot for this website . A chatbot wll help the person to find the required url in a very fast way and give answer to all the problems of user.

## **Describe the solution you'd like**

- I would include all conversation like blogs, routing to  ebooks , routing to community page , contact us and all o

[2021-03-16 16:17] mohammedjameel24 opened #51 "DARK MODE UI"
## **Describe the solution you'd like**

implementing dark mode ui using pure javascript

[2021-03-17 07:15] abhay27chauhan commented on #38
@me-harshit pls merge it

[2021-03-17 15:34] AMAN123956 commented on #51
Go ahead @mohammedjameel24

[2021-03-17 20:06] Upasana1216 commented on #50
I would like to work on this. Please assign this to me

[2021-03-17 22:27] jain-rishabh-21 opened #52 "Considering Dockerizing the Project"
## **Is your feature request related to a problem? Please describe.**

- Setting up docker to simplify the ease of use for the developers
- SO that they need not worry about setting up the env and start working straight away.
-
## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-17 22:28] jain-rishabh-21 commented on #52
If found useful, can be assigned to me:
Discord: krackerzzz#4371

[2021-03-18 08:40] satcasm opened #53 "Creating a models directory"
Would like to create models directory which would contain all the schemas (currently in app.js)  as a part of GSSOC' 21.
It will make the code look a bit more cleaner and organized.
Thanks!

[2021-03-18 11:40] AMAN123956 commented on #52
@jain-rishabh-21 u can work on this issue

[2021-03-18 11:40] AMAN123956 commented on #41
@ibhavikamalhotra u can work on this issue

[2021-03-18 11:41] AMAN123956 commented on #24
@Rimpi246 are u working on this issue

[2021-03-18 11:42] Rimpi246 commented on #24
Ya.. I am working on it

[2021-03-18 17:12] mohammedjameel24 commented on #51
please update your contibution.md or readme.md cant setup project locally ! @AMAN123956

[2021-03-18 17:14] AMAN123956 commented on #51
Can you describe what problem u are facing

On Thu, 18 Mar, 2021, 10:42 PM mohammedjameel24, ***@***.***>
wrote:

[2021-03-18 17:37] mohammedjameel24 commented on #51
Am not able to run development server because there is no npm script

[2021-03-19 05:41] sanjeev-kumar-nsut commented on #53
hello @satcasm,
i had already done this and made a PR

[2021-03-20 08:22] heysujal commented on #10
@AlacritousCreature I have assigned you the issue.

[2021-03-20 13:51] sushant1824 opened #54 "navigation button to go from bottom to top"
we can create one navigation button as after scrolling down to page if any user want to go directly up to page so he can just go up by clicking on that button .
that button will be user friendly ,just by clicking on that button the user can go to top of the page so that this will make user easily navigate from bottom to top .

[2021-03-20 15:19] guptapranav4299 commented on #28
@AMAN123956 I would like to work on this issue under gssoc21

[2021-03-21 10:01] AlacritousCreature commented on #10
@heysujal am extremely thankful to you for assigning me this issue, however, my cllg mid sem exams are going on in this week. I tried to install and make it but am ending with some errors or Google OAuth configuration and its not running te project locally without fixing those . Sorry but, I request to you please unassign me this issue. I will continue to work on this repo from next week.

[2021-03-21 11:30] heysujal commented on #10
@aniketlodh Go Ahead.

[2021-03-21 14:23] aniketlodh commented on #10
![Screenshot from 2021-03-21 19-49-47](https://user-images.githubusercontent.com/55927827/111908352-ea848d80-8a7e-11eb-97fd-053100629c7e.png)
I'm getting this error on running the application. Can anyone please help?

[2021-03-21 14:29] shahina-bano commented on #51
Hello, @AMAN123956, I would like to implement this functionality so kindly assign me this issue.

[2021-03-21 14:33] yashmita commented on #28
@AMAN123956 I can work on this issue. Kindly assign it to me.

[2021-03-23 07:31] AMAN123956 commented on #23
@Rimpi246 u haven't provided any update about the work

[2021-03-23 07:32] AMAN123956 commented on #23
I will be closing this issue by tomorrow if no updates received

[2021-03-23 15:03] harshit9270 commented on #54
Hey @sushant1824
Any updates?

[2021-03-23 15:05] #53 closed

[2021-03-23 15:08] sushant1824 commented on #54
just working on it i was bit busy i will do it till tomorrow

On Tue, Mar 23, 2021, 20:34 Harshit Sharma ***@***.***> wrote:

[2021-03-23 15:09] harshit9270 commented on #51
Hey @mohammedjameel24,
Are you still working on this issue?
Or shall I assign this to @shahina-bano?

[2021-03-23 15:10] mohammedjameel24 commented on #51
Working making a pr now if not unassign

[2021-03-23 15:12] harshit9270 commented on #50
Hey @Upasana1216 ,
You may go ahead with this.
Either you share any prototype of what you shall be implementing earlier or we shall consider reviewing your PR.

[2021-03-23 15:15] harshit9270 commented on #47
Hey @muthuannamalai12,
Are you still interested in working on this issue?

[2021-03-23 15:18] muthuannamalai12 commented on #47
Yes I am interested to work on this issue.

[2021-03-23 15:19] #45 closed

[2021-03-23 15:21] harshit9270 commented on #44
Yeah @SananditaDas ,
this was a feature in earlier version of website.
If you wish to work on this issue, then let me know. I will assign this to you under gssoc21.

[2021-03-23 15:22] harshit9270 commented on #41
Any updates @ibhavikamalhotra ,
Are you working on this issue?

[2021-03-23 15:44] sushant1824 commented on #54
<img width="960" alt="4" src="https://user-images.githubusercontent.com/62093325/112174607-8d264300-8c1c-11eb-804f-1aaea7979b90.png">

the button has been added i will pr it

[2021-03-23 15:44] sushant1824 commented on #54
@me-harshit

[2021-03-23 15:57] SananditaDas commented on #44
Yes, I am willing to work on this issue..

[2021-03-23 16:09] #38 closed

[2021-03-23 16:33] harshit9270 commented on #28
Hey @guptapranav4299 , @yashmita ,
I am waiting for response from @Sristi27. If she refuses or is unable to finish, then I shall assign this to you.  :)

[2021-03-23 16:36] harshit9270 commented on #17
Hey @nikhilgupta2001 ,
Any updates?

[2021-03-23 16:41] harshit9270 commented on #16
The number of lines of code changed are exponentially greater than any improvement.
I am unable to detect any changes or updates.
Either you reconsider your PR or I shall close this issue.

[2021-03-23 16:44] harshit9270 commented on #14
Wrong destination to add favicon html code.
And way too much time for this work.

[2021-03-23 16:44] #14 closed

[2021-03-24 11:54] Sristi27 commented on #28
![Screenshot 2021-03-24 at 5 23 01 PM](https://user-images.githubusercontent.com/53037053/112306327-b51db100-8cc5-11eb-9dcc-ed0aacedcb3c.png)

Can you help me with this error?

[2021-03-26 15:45] harshit9270 commented on #54
@sushant1824 ,
It seems that you were working on an older version of Jssconnect.
Get your repo updated and then pr it.

[2021-03-27 13:51] ANSHIKA1806 commented on #47
@me-harshit @shivasinghal2000 @Surajv311
Hello sir/mam,  I am interested to work on this issue, please assign this task to me . I would love to contribute in your organization.

[2021-03-27 14:48] shivasinghal2000 commented on #47
@ANSHIKA1806  You can work on this issue

[2021-03-27 15:03] ANSHIKA1806 commented on #47
@shivasinghal2000
 Hello mam, You didn't assigned this issue to me how can i work on it.
 please assign this to me. Thank you.

[2021-03-27 15:06] muthuannamalai12 commented on #47
@shivasinghal2000 Can you assign it to me as I have opened this issue

[2021-03-27 15:18] shivasinghal2000 commented on #47
Sorry @ANSHIKA1806  I can't assign it to you since @muthuannamalai12 created this issue

[2021-03-27 16:16] ANSHIKA1806 opened #55 "Update README file"
@me-harshit @shivasinghal2000 @Surajv311
README is the first file one should read when starting a new project. It's a set of useful information about a project, and a kind of manual. A README text file appears in many various places and refers not only to programming. So i want to make your README file more meaningful and more easier to understand the whole project.

[2021-03-27 16:16] ANSHIKA1806 commented on #55
@me-harshit @shivasinghal2000 @Surajv311
please assign this task to me .
Thank you.

[2021-03-27 17:46] chiragasawa opened #56 "Google authentication is not working properly"
## **Describe the bug**
@abhay27chauhan @shivasinghal2000 @me-harshit @akashbwj @heysujal
Google authentication is not working properly .

## **Possible solution**
There is some issue in passport strategy.
## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/43067874/112729458-2f626580-8f52-11eb-8fb2-1072a8459f79.png)

[2021-03-27 18:19] Surajv311 commented on #55
go ahead @ANSHIKA1806

[2021-03-27 18:22] ANSHIKA1806 commented on #55
@Surajv311
This issue is not assigned to me yet. Please assign it to me so that I can start working on it.

[2021-03-27 23:31] abhay27chauhan opened #58 "working with mongoose means working with promises"
**Is your feature request related to a problem? Please describe.**
if you are working with mongoose, means you are working with promises. So, you need to handle promise. This is an easy fix but good for long term.

**Describe the solution you'd like**
I suggest instead of this:

[code]

You should do this:

        mongoose
          .connect(mongoURI, {
            useNewUrlParser: true,

[2021-03-27 23:31] abhay27chauhan commented on #58
please let me know if this is a valid proposal

[2021-03-28 05:08] muthuannamalai12 commented on #47
@shivasinghal2000 Can you please add the Gssoc label and level label??

[2021-03-28 07:32] sushant1824 commented on #54
sir in which html file i have to make changes can u please elaborate . i
worked this on index.html

On Fri, Mar 26, 2021, 21:15 Harshit Sharma ***@***.***> wrote:

[2021-03-28 10:03] #55 closed

[2021-03-28 12:28] pragati-kumar commented on #17
@me-harshit I'm a GSSOC'21 participant. I would like to contribute to this issue and can get started ASAP. Could you assign this to me?

[2021-03-30 05:10] #47 closed

[2021-03-30 05:12] shivasinghal2000 commented on #56
go ahead @chiragasawa

[2021-03-30 16:54] chiragasawa commented on #56
Please assign it to me.

[2021-03-31 03:04] asmitsirohi opened #60 "Development Server is not running!"
Whenever user forked this repository and tries to run in local machine with command "npm start" then it shows "npm ERR! missing script: start".

To solve this issue, there should be some changes in package.json file.

![image](https://user-images.githubusercontent.com/63240102/113084553-d289d800-91fb-11eb-8caf-52b18f63f64d.png)

[2021-03-31 03:06] asmitsirohi commented on #60
please assign this issue to me under GSSOC'21

[2021-03-31 15:05] harshit9270 commented on #60
@asmitsirohi
Go ahead

[2021-03-31 15:07] harshit9270 commented on #58
Valid point @ abhaychauhan.
Go Ahead.

[2021-03-31 15:10] harshit9270 commented on #54
@sushant1824 ,
This project no more involves pure HTML, we use EJS instead, you need to copy your navigation button code and add to index,ejs file.

[2021-03-31 15:11] harshit9270 commented on #52
Any updates @jain-rishabh-21 ?

[2021-03-31 15:13] harshit9270 commented on #51
@mohammedjameel24 ,
I could not see any PR and you were still assigned the issue.
If you need still more time, then let me know.

[2021-03-31 15:14] harshit9270 commented on #41
@ritesh1731 ,
Are you still interested to contribute to this issue?

[2021-03-31 15:14] mohammedjameel24 commented on #51
Making a pr tommorow postively

[2021-03-31 15:17] harshit9270 commented on #33
@anshulsharma123 ,
Are you working on this issue?
If you are, then let me know. I shall add gssoc tags then.

[2021-03-31 16:09] anshulsharma123 commented on #33
@me-harshit from past one week my CLG exams are going on so I am  not getting time to work on this issue and my exams will end on 10th April so better you assign this issue to some other peoples

[2021-03-31 18:05] jain-rishabh-21 commented on #52
I was having trouble setting up the project! I posted it in the official group as will as pinged the mentors, but got no response @me-harshit

[2021-03-31 19:10] chiragasawa commented on #56
the issue is now fixed and tested. @shivasinghal2000  please merge my pull request.

[2021-04-01 03:04] asmitsirohi opened #64 "Jssconnect is not running in local machine!"
## **Describe the bug**
- When I start the deployment server using command "npm start" then it starts and makes connection with MongoDB.
- Here is screenshot,

![image](https://user-images.githubusercontent.com/63240102/113237117-e1d45880-92c3-11eb-96dc-44b7035ab7cb.png)

- But, when I run it on browser then it shows some errors.

![image](https://user-images.githubusercontent.com/63240102/1132372

[2021-04-01 06:17] #56 closed

[2021-04-01 08:21] chiragasawa commented on #64
@shivasinghal2000  assign to me. please i can work on this.

[2021-04-01 09:11] #41 closed

[2021-04-01 10:37] shivasinghal2000 commented on #64
@asmitsirohi would you like to work on this issue? Or should I assign it to @chiragasawa ?

[2021-04-01 10:55] chiragasawa opened #65 "Change redirect url on google cloud."
## **Describe the bug**

- Please change the redirect url in google cloud oauth is not set properly it is showing error on live heroku deployed website.

![image](https://user-images.githubusercontent.com/43067874/113280943-968d6a80-9302-11eb-90ef-61c6849a8471.png)

## **Possible solution**

change the redirect url to  this `http://jssconnect.herokuapp.com/auth/google/home` on google cloud.

## **

[2021-04-01 10:59] chiragasawa opened #66 "Like and comment funtion is not working in blog section."
## **Is your feature request related to a problem? Please describe.**

- Like and comment function is not working in blog section.
![image](https://user-images.githubusercontent.com/43067874/113284461-4a90f480-9307-11eb-9809-cee391978e91.png)

## **Describe the solution you'd like**

- I can work on this please assign it to me

[2021-04-01 11:00] asmitsirohi commented on #64
@shivasinghal2000 mam, I want to work on this issue.

[2021-04-01 16:39] mohammedjameel24 commented on #51
please merge my pull request @AMAN123956

[2021-04-03 18:19] guptapranav4299 commented on #10
@AMAN123956 please assign this issue to me

[2021-04-04 00:41] akshay1027 opened #68 "Links in the readme to open in a new tab"
## **Is your feature request related to a problem? Please describe.**
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-05 08:02] harshit9270 commented on #68
Go ahead

[2021-04-05 12:11] shivasinghal2000 commented on #64
If you won't be able to resolve this issue till 10 April, I will assign it to @chiragasawa

[2021-04-05 16:27] #58 closed

[2021-04-05 16:29] #60 closed

[2021-04-05 16:32] harshit9270 commented on #66
Hey @chiragasawa,
This issue was already being worked upon. It's almost about to complete.

[2021-04-05 16:32] #66 closed

[2021-04-05 16:34] #64 closed

[2021-04-05 16:35] #54 closed

[2021-04-05 16:36] harshit9270 commented on #52
@jain-rishabh-21 ,
What was the issue you were facing? Is it resolved now?

[2021-04-05 16:37] #23 closed

[2021-04-05 16:37] #24 closed

[2021-04-05 16:38] harshit9270 commented on #17
Are you still interested @pragati-kumar?

[2021-04-05 16:41] harshit9270 commented on #2
@iamkrati22 ,
Since you were unable to code what you prototyped, this issue has been resoved.
BTW nice design work.

[2021-04-05 16:41] #2 closed

[2021-04-05 16:41] #16 closed

[2021-04-05 16:41] pragati-kumar commented on #17
Yes, sir. Thank you so much!

[2021-04-05 16:42] harshit9270 commented on #10
@guptapranav4299 ,
Go ahead.

[2021-04-05 16:46] harshit9270 commented on #28
Hey @Sristi27,
Since I cannot give you the access to the original database, you should either create a mongo DB cluster or edit/comment the code accordingly to avoid database conflicts.

[2021-04-05 16:48] harshit9270 commented on #32
@sanjeev-kumar-sky ,
are you working on this?

[2021-04-05 16:49] #33 closed

[2021-04-05 16:50] harshit9270 commented on #44
@SananditaDas,
You may go ahead with this.

[2021-04-05 16:52] harshit9270 commented on #51
You need to update your code with the latest version of repository to avoid any conflicts with the code.
Your PR contains changes to HTML files which no longer exists here.

[2021-04-05 16:53] mohammedjameel24 commented on #51
Ok , ill open another pull request

[2021-04-05 17:01] harshit9270 commented on #50
@Upasana1216 ,
Are you working on this?

[2021-04-05 19:52] Sristi27 opened #69 "Navbar Enhancement"
## Proposal

(A clear and concise description of what the proposal is.)

![Screenshot 2021-04-06 at 1 20 28 AM](https://user-images.githubusercontent.com/53037053/113619340-777e3800-9676-11eb-895e-ebeca0ecd175.png)

The navbar signin/signup button can be enhanced.Like the outline can be removed to provide a better view.

[2021-04-06 00:46] sanjeev-kumar-nsut commented on #32
i had completed this
but as my other account is not assigned (by which i had pushed changes) it is showing issues
plz assign this to sanjeev-kumar-sky

[2021-04-06 15:17] harshit9270 commented on #69
I guess there is no need for removing the border, it looks alright. :)

[2021-04-06 15:17] #69 closed

[2021-04-07 17:24] khareyash05 opened #70 "add contributing.md"
Hi I would like to create a file contributing.md and add the following -
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-09 04:25] harshit9270 commented on #70
@khareyash05 ,
You may go ahead.

[2021-04-09 04:27] harshit9270 commented on #68
@akshay1027,
Is the code too big to implement? You're taking way more time than you should be.

[2021-04-09 04:29] harshit9270 commented on #52
@jain-rishabh-21,
It seems you are no longer interested in working on this issue. Is it?

[2021-04-09 04:33] harshit9270 commented on #50
Hey @Upasana1216,
If you still do not reply till tomorrow, I shall assign this to someone else.

[2021-04-09 04:34] harshit9270 commented on #44
Hey @SananditaDas,
Any updates? :)

[2021-04-09 04:36] harshit9270 commented on #32
@sanjeev-kumar-nsut,
Maybe this will help.

[2021-04-09 04:38] sanjeev-kumar-nsut commented on #32
the pull request is also closed
plz open it

[2021-04-09 06:11] SananditaDas commented on #44
Just started working

[2021-04-09 10:13] akshay1027 commented on #68
sorry sir! I found out that we cant do this on Github! I tried but it's not possible @harshit9270 i ! here is the link to that: mojombo/github-flavored-markdown#28
so i will close this. Sorry sir for the inconvience.

[2021-04-09 10:14] #68 closed

[2021-04-09 11:45] khareyash05 commented on #70
@harshit9270 Created a PR Have a look #71

[2021-04-10 21:42] akshay1027 opened #73 "Improve Footer"
## **Is your feature request related to a problem? Please describe.**
1)Find us
2)Call us
3)Mail us
4)Website logo
5)What this website is about
6)Follow us
-Instagram link with logo
-LinkedIn link with logo
-Twitter link with logo
-etc
7)Useful links
-Home
-Services
-About Us
-Contact Us etc
8)Subscribe
-Email address
9)Copyrights
10) All the above with responsive UI

[2021-04-10 21:43] akshay1027 commented on #73
I would like to work on this @harshit9270

[2021-04-17 03:36] harshit9270 commented on #70
Merged and resolved :)

[2021-04-17 03:36] #70 closed

[2021-04-17 03:38] harshit9270 commented on #73
You may go ahead @akshay1027.

[2021-04-17 16:11] srisatya1197 opened #74 "I want to add no.of forks, stars, issues and other in readme file."
I want to add no.of forks, stars, issues and other in readme file.
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119383-ba6cd380-9fc5-11eb-9d89-1ea70379f3e0.png)
I want to work on this . Please assign me this issue @AMAN123956 .

[2021-04-17 18:24] CMELAKKIA commented on #50
@harshit9270  I would like to work on this issue. Please assign this to me

[2021-04-20 06:08] sanjeev-kumar-sky opened #75 "REAL TIME CHAT BETWEEN USERS"
## Wanted to add real time messaging feature

you can look about this feature in my website :
[THE BORING COLLEGE](https://theboringcollege.herokuapp.com/students)
![image](https://user-images.githubusercontent.com/60292558/115345645-b65ed280-a1cc-11eb-840c-36d09afc4391.png)

[2021-04-20 06:10] sanjeev-kumar-sky commented on #75
Please assign me this under GSSOC 21
and this is my request to jssconnect team to please merge request as soon as possible
because you take a long time to merge and during that time so many changes are occurred to code.

[2021-04-20 15:55] harshit9270 commented on #75
Hey @sanjeev-kumar-sky,
We shall merge it as soon as it gets requested. You need to work on the UI and designing of the chat section or I shall assign the issue of design after your PR gets merged.

[2021-04-22 05:21] harshit9270 commented on #74
Merged the PR.

[2021-04-22 05:21] #74 closed

[2021-04-22 05:22] harshit9270 commented on #73
@akshay1027,
Any updates?

[2021-04-22 05:23] #51 closed

[2021-04-22 05:23] harshit9270 commented on #50
@CMELAKKIA,
you may go ahead.

[2021-04-22 05:25] #32 closed

[2021-04-22 05:25] harshit9270 commented on #28
Resolved the issue

[2021-04-22 05:25] #28 closed

[2021-04-22 05:26] harshit9270 commented on #17
Any updates @pragati-kumar?

[2021-04-22 07:10] akshay1027 commented on #73
Sorry! Am having End sem exams, wasnot able to do till yesterday, give me some time, I will try to finish it tough am new to ejs!

[2021-04-23 10:16] K-jais opened #77 "ADD the Light Dark mode Functionality"
I can Add Light Dark Mode to all of the pages which adds another feature to this website and which just gives two choices to the user as whats its preferable UI is either light or dark.

[2021-04-24 11:56] K-jais commented on #77
@harshit9270

[2021-04-25 04:26] Ankita297 opened #78 "Add a welcome bot"
## **Is your feature request related to a problem? Please describe.**

A github action to greet contributor on opening his/her first PR or first issue .

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
![New issue · Issue #1 · Ankita297_Story - Google Chrome 22-04-2021 00_53_11](https://user-images.githubusercontent.com/67833077/115980721-7291

[2021-04-25 04:27] Ankita297 commented on #78
can i work on this @harshit9270 @heysujal @AMAN123956 ?

[2021-04-25 10:44] avanisingh0105 opened #79 "Project Setup steps are not accurate"
I am new to this repo and want to contribute but the steps given in the readme file are not clear enough for this to setup error-free.
Please correct them.
Suggesting to make a slack channel so that one could ask their setup/installation/project related doubts.

[2021-04-27 09:43] srishtij2000 commented on #73
Can I work on this issue?

[2021-04-29 05:28] harshit9270 commented on #79
Maybe you should ask your doubts on discord channel #jssconnect.

[2021-04-29 05:29] harshit9270 commented on #78
You may go ahead.

[2021-04-29 05:30] harshit9270 commented on #77
Ya sure! You may go ahead.

[2021-04-29 05:32] harshit9270 commented on #73
Yeah sure! @srishtij2000

[2021-05-02 12:54] #78 closed

[2021-05-11 10:00] AbhipsaGuru1012 commented on #73
@harshit9270 if this issue is open I would like to work on it

[2021-05-12 07:08] chazuttu opened #82 "Update README.md file"
There are few grammatical mistakes in the README.md file.
 I wanted to work on it & resolve them.
I am GSSOC'21 Participant.
Please assign me this issue.
Thank you

[2021-05-12 18:05] chazuttu commented on #77
I am GSSOC'21 Participant. Please assign this issue to me and review my PR for this issue. Thank you

[2021-05-12 18:36] chazuttu commented on #82
I have added a PR for this Issue. Please review it. Thank you

[2021-05-16 08:21] SamikshaSankar opened #83 "Adding top-button"
## **Is your feature request related to a problem? Please describe.**

No

## **Describe the solution you'd like**

When user can scroll down by using top-button they can go to home section.

please assign this task to me

[2021-05-17 12:49] bhardwajdisha commented on #65
Please assign this task to me

[2021-05-18 03:24] harshit9270 commented on #83
You may go ahead @SamikshaSankar.

[2021-05-18 03:25] #82 closed

[2021-05-18 03:25] #79 closed

[2021-05-18 03:27] harshit9270 commented on #77
https://github.com/threefreespirited/Jssconnect/pull/81#issuecomment-841644883
Have a look @chazuttu .

[2021-05-18 05:43] hardikshah197 commented on #65
May I take up this issue if no one is working on it? @chiragasawa ?

[2021-05-18 16:43] SamikshaSankar commented on #83
Sure..I am confused
1) In which .ejs file I have to code ?
2) same for css also ?

[2021-05-20 10:25] SUCHITRAGIRI opened #84 "Favicon should be present"
## **Is your feature request related to a problem? Please describe.**
When I was exploring the project I noticed that there is no favicon, but it is quite decent project and I think favicon should be there!

## **Describe the solution you'd like**
![Screenshot (183)](https://user-images.githubusercontent.com/60110218/118962811-69188100-b983-11eb-8de5-1acd23a42492.png)
I want to add favicon so that

[2021-05-20 16:28] srishtij2000 commented on #73
Can I work on this issue?

[2021-05-20 16:29] srishtij2000 commented on #73
I have been working on this issue and I will update it Saturday (day after tomorrow)

[2021-05-21 07:55] harshit9270 commented on #84
Go ahead @SUCHITRAGIRI .

[2021-05-21 10:37] SUCHITRAGIRI opened #85 "misleading DOCs"
## **Describe the bug**

![Screenshot (185)](https://user-images.githubusercontent.com/60110218/119122319-07701980-ba4c-11eb-8784-e1d21b9f2c25.png)

Here, it should be not like this
` git clone https://github.com/ <your user-name> /threefreespirited/jssconnect.git`
1st we have to fork the repo then we can clone it but here it included the main repo in URL which is not possible and so, instead of t

[2021-05-21 10:38] AMAN123956 commented on #85
U can work on this

On Fri, 21 May, 2021, 4:07 PM SUCHITRAGIRI, ***@***.***>
wrote:

[2021-05-21 10:56] SUCHITRAGIRI commented on #85
But please assign me this issue didn't assign yet:(
@AMAN123956

[2021-05-22 11:04] SUCHITRAGIRI commented on #84
![Screenshot (200)](https://user-images.githubusercontent.com/60110218/119224300-681a5780-bb1b-11eb-85ae-8dbc2af69e5a.png)
Hey,  @harshit9270 @AMAN123956 @abhay27chauhan  can anyone let me know how can I fix this:(

[2021-05-24 04:19] harshit9270 commented on #83
maybe you should look for index.ejs and index.css @SamikshaSankar

[2021-05-24 12:12] subhangi2731 commented on #52
@harshit9270 please assign me this issue I want to work on this

[2021-05-24 12:13] subhangi2731 commented on #44
@harshit9270 there is no pr made please assign me this one

[2021-05-27 11:55] SamikshaSankar commented on #83
@harshit9270 please help me I am unable to start this project on local server...getting this type of error
![2021-05-27 (20)](https://user-images.githubusercontent.com/52104082/119823372-5b7a7280-bf12-11eb-82c5-f6a880448f4c.png)

[2021-05-28 10:08] keshavgbpecdelhi commented on #65
@chiragasawa @hardikshah197 @bhardwajdisha
Hope we can do it soon.

[2021-06-01 07:42] #84 closed

[2021-08-05 14:34] ria-19 commented on #83
Is this still open? I would like to contribute to this project.

[2021-08-06 05:52] AMAN123956 commented on #83
@ria-19 Yeh this is still open if u want to work on this issue let us know so that we can assign this to you

[2021-08-06 09:57] ria-19 commented on #83
Yes, sure